
<section class="error overflow-hidden">
    <div class="container">
        <div class="error-content text-center">
            <h3>Oops! Không tìm thấy khách sạn</h3>
            <img src="~/Content/assets/images/404.svg" alt="" class="mb-4">
            <h2 class="mb-0 navy">we are sorry, but the page you requested was not found</h2>
            <div class="newsletter-form w-75 mx-auto mt-3">
                <form>
                    <input type="email" placeholder="Enter your email">
                    <input type="submit" class="nir-btn bordernone" value="Subscribe">
                </form>
            </div>
            <div class="error-btn mt-4">
                <a href="@Url.Action("Index", "Home")" class="nir-btn mr-2">GO TO HOMEPAGE</a>
            </div>
        </div>
    </div>
</section>