

<footer class="pt-10" style="background-image:url(/Content/assets/images/bg/bg3.jpg);">
    <div class="footer-upper pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-about">
                        <img src="~/Content/assets/images/logo-white.png" alt="">
                        <p class="mt-3 mb-3">
                            In ut odio libero, at vulputate urna. Nulla tristique mi a massa convallis cursus. Nulla
                            eu mi magna
                        </p>
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mb-4">
                    <div class="footer-links text-center">
                        <ul class="list">
                            <li>
                                <a href="#">About Us</a>
                            </li>
                            <li>
                                <a href="#">Travel Booking</a>
                            </li>
                            <li>
                                <a href="#">Flight Booking</a>
                            </li>
                            <li>
                                <a href="#">Car Booking</a>
                            </li>
                            <li>
                                <a href="#">Blog</a>
                            </li>
                            <li>
                                <a href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-listing-main d-lg-flex align-items-center justify-content-between mt-4 text-center">
                        <div class="footer-listing white">
                            <i class="fa fa-map-marked white mb-1"></i>
                            123 Collins Street, sydney, <br>Australia 750
                        </div>
                        <div class="footer-listing">
                            <i class="fa fa-fax white mb-1"></i>
                            <p class="white mb-0">Toll Free: +47-252-254-2542</p>
                            <p class="white mb-0">Fax: +47-252-254-2542</p>
                        </div>
                        <div class="footer-listing">
                            <i class="fa fa-headphones white mb-1"></i>
                            <p class="white mb-0">
                                <a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection"
                                   class="__cf_email__"
                                   data-cfemail="6734121717081513273e0613150e0e1008150b034904080a">[email&#160;protected]</a>
                            </p>
                            <p class="white mb-0">
                                <a href="https://htmldesigntemplates.com/cdn-cgi/l/email-protection"
                                   class="__cf_email__"
                                   data-cfemail="325b5c545d726b5346405b5b455d405e561c515d5f">[email&#160;protected]</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright pt-2 pb-2">
        <div class="container">
            <div class="copyright-inner">
                <div class="copyright-text text-center">
                    <p class="m-0 white">2020 Yatriiworld. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="dot-overlay"></div>
</footer>
